.caption-textarea {
    width: 600px;
    height: 100px;
    margin-top: 2rem;
    border: 3px dotted var(--bright-pink);
    border-radius: 10px;
    background-color: var(--home-blue);
    color: var(--bright-pink);
    font-family: sans-serif;
    box-shadow: -5px 10px var(--bright-pink); 
    margin-bottom: 10px;
}