#nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    background-color: var(--home-blue);
    padding: 0;
  }
  
  .nav-link-active {
    background-color: var(--bright-pink);
    color: white;
  }
  
  .link {
    border: 3px dotted var(--bright-pink);
    color: var(--gray);
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
  }