.meme {
  border: var(--bright-pink) dotted 5px;
  border-radius: 10px;
  box-shadow: -13px 24px var(--dark-blue);
  height: auto;
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.meme-container {
  margin-top: 15px;
}
